[submodule "libs/pcre"]
	path = libs/pcre
	url = ./libs/pcre/
[submodule "libs/cElementTree"]
	path = libs/cElementTree
	url = ./libs/cElementTree/
[submodule "libs/patches-codeintel"]
	path = libs/patches-codeintel
	url = ./libs/patches-codeintel/
[submodule "libs/patches"]
	path = libs/patches
	url = ./libs/patches/
[submodule "libs/scintilla"]
	path = libs/scintilla
	url = ./libs/scintilla/
[submodule "libs/silvercity"]
	path = libs/silvercity
	url = ./libs/silvercity/
[submodule "komodo-bits/schemes"]
	path = komodo-bits/schemes
	url = ./komodo-bits/schemes/
[submodule "komodo-bits/python-sitelib"]
	path = komodo-bits/python-sitelib
	url = ./komodo-bits/python-sitelib/
[submodule "libs/inflector"]
	path = libs/inflector
	url = ./libs/inflector/
[submodule "libs/codeintel2"]
	path = libs/codeintel2
	url = ./libs/codeintel2/
